# Server
PORT=8000

# MongoDB
MONGODB_URL=YOUR_MONGODB_CONNECTION_STRING

# JWT
JWT_SECRET=YOUR_JWT_SECRET

# Cloudinary
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_CLOUD_API=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_CLOUD_SECRET=YOUR_CLOUDINARY_API_SECRET

# Gemini API
GEMINI_API_URL=YOUR_GEMINI_API_URL
